In [0]:
import os
import json
from pandas.io.json import json_normalize
import codecs
import pandas as pd
import codecs
main_df = pd.DataFrame(data=None)


with open('/content/Takeout/Location History/Location History.json') as data_file: The JSON from google
    data = json.load(data_file)
    #df = pd.DataFrame(data=None)
    #df = json_normalize(data, sep = "_")
             
print('Done')

Done

In [0]:
df = json_normalize(data['locations'])

In [0]:
df.head()

     timestampMs  latitudeE7  longitudeE7  ...  velocity heading  verticalAccuracy
0  1413961261102   129699021    775789693  ...       NaN     NaN               NaN
1  1413961321181   129699010    775788891  ...       NaN     NaN               NaN
2  1413961381235   129699012    775789122  ...       NaN     NaN               NaN
3  1413961441823   129699012    775789122  ...       NaN     NaN               NaN
4  1413961500944   129699012    775789122  ...       NaN     NaN               NaN

[5 rows x 9 columns]

In [0]:
df['longitudeE7'] = df['longitudeE7']/ 1e7 #update Longitude
df['latitudeE7'] = df['latitudeE7']/ 1e7 #update latitude

# timestamp from str to int64 unixformat
df = df.astype({'timestampMs':int})

In [0]:
df.head()

     timestampMs  latitudeE7  longitudeE7  ...  velocity heading  verticalAccuracy
0  1413961261102   12.969902    77.578969  ...       NaN     NaN               NaN
1  1413961321181   12.969901    77.578889  ...       NaN     NaN               NaN
2  1413961381235   12.969901    77.578912  ...       NaN     NaN               NaN
3  1413961441823   12.969901    77.578912  ...       NaN     NaN               NaN
4  1413961500944   12.969901    77.578912  ...       NaN     NaN               NaN

[5 rows x 9 columns]

In [0]:
#accuracy above 800 aren't sure so  remove all the locations greater than 850
df = df[(df.accuracy < 850)]

In [0]:
#df.to_csv('deh.csv')

In [0]:
import folium

base_map = folium.Map( location = [28.7041,77.1025],control_scale=True, zoom_start=6) #centre coordinate to display

In [0]:
base_map

In [0]:
from folium import plugins
from folium.plugins import HeatMap

base_map = folium.Map(location=[28.7041,77.1025],zoom_start = 4) 
df['latitudeE7'] = df['latitudeE7'].astype(float)
df['longitudeE7'] = df['longitudeE7'].astype(float)
heat_df = df[['latitudeE7', 'longitudeE7']]
heat_df = heat_df.dropna(axis=0, subset=['latitudeE7','longitudeE7'])
heat_data = [[row['latitudeE7'],row['longitudeE7']] for index, row in heat_df.iterrows()]

# Plot it on the map
HeatMap(heat_data,blur = 4,radius=7,min_opacity = 0.2).add_to(base_map)


# Save the heatmap HTML
base_map.save('travels.html')